@media (max-width: 600px) {
  .infoContainer .btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .heroSection .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .heroSection .infoContainer .heading,
  .heroSection .infoContainer .subHeading,
  .heroSection .infoContainer .desc {
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.night-theme nav ul.nav-links li a {
  color: #fff !important;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
  color: red;
  pointer-events: none;
}
.star:before {
  position: absolute;
  content: '\2726';
  color: inherit;
  inset: 0;
  text-shadow: 0 0 1em #fff5;
}

.night-theme {
  font-family: 'Montserrat', sans-serif !important;
  color: #F9F6EF !important;
  background-image: radial-gradient(circle at 50% 50%, #2f3040, #1f2020) !important;
}

.chooser {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em;
  margin-bottom: 1em;
}
.chooser label {
  text-align: center;
  transition: .4s ease;
  border: 1px solid #AEE1CD20;
  padding: .5em 1em;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
.chooser input[type='radio'] {
  display: none;
}
.chooser input[type='radio']:checked + label {
  color: #FFE681;
  border: 1px inset #AEE1CD90;
}
.chooser input[type='radio']:not(:checked) + label:hover {
  color: #D1CDDA;
  box-shadow: inset 1px 1px #F9F6EF40;
  background-color: #1f202050;
}
.chooser input[type='radio']:not(:checked) + label:active {
  box-shadow: inset -1px -1px #F9F6EF40;
}
@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Space%20Grotesk:400');

:root {
  /*  change this for scaling  */
  --m: 4rem;

  --red: #FF6565;
  --pink: #FF64F9;
  --purple: #6B5FFF;
  --blue: #4D8AFF;
  --green: #5BFF89;
  --yellow: #FFEE55;
  --orange: #FF6D1B;
}

.get-started-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.getStartedBtn {
  border: calc(0.04 * var(--m)) solid transparent;
  position: relative;
  color: #F3F3F3;
  font-family: 'Space Grotesk', 'Be Vietnam Pro', sans-serif;
  font-size: calc(0.5 * var(--m));
  border-radius: calc(0.35 * var(--m));
  padding: calc(0.25 * var(--m)) calc(0.5 * var(--m));
  display: flex;
  justify-content: center;
  cursor: pointer;
  background:linear-gradient(#121213, #121213), linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),  linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear;
  margin-top: 1.5rem;
  z-index: 1;
}

.getStartedBtn::before {
  content: '';
  background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  height: 30%;
  width: 60%;
  position: absolute;
  bottom: -20%;
  z-index: -5;
  background-size: 200%;
  animation: animate 2s infinite linear;
  filter: blur(calc(0.8 * var(--m)));
}

.getStartedBtn:hover, .getStartedBtn:hover::before {
  animation: animate 0.5s infinite linear;
}

@keyframes animate {
  0% {background-position: 0}
  100% {background-position: 200%}
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 2rem;
  }
}
.nav-icon-img {
  width: 28px;
  height: 28px;
  object-fit: contain;
  filter: grayscale(0.2) brightness(0.95);
  transition: filter 0.3s, transform 0.3s;
  vertical-align: middle;
}
.nav-icon-img:hover, .nav-icon-img:focus {
  box-shadow: 0 0 6px 2px #fff;
  filter: brightness(1.1);
}
.nav-icon-img:hover {
  filter: grayscale(0) brightness(1.1) drop-shadow(0 0 2px #e84949);
  transform: scale(1.1);
}
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

#wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Header Start  */

header {
  width: 100%;
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .logo {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

header .logo img {
  width: 60px;
}

.logoText {
  margin-left: -0.8rem;
  font-size: 24px;
}

nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
  color: #1f1f1f;
  transition: font-weight 0.3s;
  font-size: 18px;
  line-height: 17px;
  display: inline-block;
}

.nav-links li a:hover {
  transform: scale(1.02);
  font-weight: bold;
}

.nav-social-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-social-icons a {
  color: #343d68;
  font-size: 22px;
  transition: color 0.3s;
}

.nav-social-icons a:hover {
  color: #e84949;
}

/* Header End */

/* Hero Section Start  */
.heroSection {
  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1200px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  /* width: 100%; */
}

.fadedText {
  user-select: none;
  font-size: 6em;
  color: #e7e7e7;
  bottom: -16%;
  left: 0;
  font-weight: bold;
}

.absolute {
  position: absolute;
}

.heading {
  font-size: 35px;
  color: #343d68;
  line-height: 30px;
}

.role {
  color: #4e45d5;
  font-weight: 800;
}

.subHeading {
  font-size: 45px;
  line-height: 40px;
}

.desc {
  font-size: 16px;
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}

.btn {
  background-color: #e84949;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn:hover::before {
  transform: scaleX(1);
}

.btn:hover {
  border: solid 3px #e84949;
  color: black;
}

.imgContainer {
  position: relative;
}

.userImage {
  padding: 2.5rem;
  transition: all 1s;
  animation: scaleImage 5s linear infinite;
  width: 345px;
  height: 390px;
}

@keyframes scaleImage {
  0% {
    scale: 1;
    filter: grayscale(1);
  }

  50% {
    filter: grayscale(0);
    box-shadow: 3px 3px 10px black;
    scale: 0.9;
  }

  100% {
    scale: 1;
    filter: grayscale(1);
  }
}

.userImage img {
  z-index: -9;
  width: 100%;
}

.icons {
  z-index: 9;
}

.iconDots {
  bottom: -1rem;
  right: 0;
  animation: dotsAnimation 5s linear infinite;
}

@keyframes dotsAnimation {
  50% {
    transform: translateY(-15px);
  }
}

.iconZigZag {
  z-index: 10;
  top: 1.5em;
  left: -0.3em;
  animation: zigzagAnimation 5s infinite;
}

@keyframes zigzagAnimation {
  50% {
    left: 5%;
    top: 3%;
  }
}

.icon-cube {
  z-index: 9;
  top: -0.8em;
  right: 1em;
  animation-name: cubeRotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes cubeRotate {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-12px);
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}

.icon-circle {
  z-index: 9;
  left: 0;
  bottom: 0;
  animation-name: shakeEffect;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes shakeEffect {
  50% {
    left: 5%;
    bottom: 10%;
  }
}
.icon-plus {
  z-index: 9;
  top: -0.8rem;
  left: 50%;
  animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
  50% {
    top: 2%;
    left: 48%;
  }
}

/* Hero Section Ends  */

/* Projects Section  */
.projectSection {
  margin-top: 4rem;
  background-color: #e7e7e7;
}

.projectTitle {
  color: #e84949;
  font-size: 90px;
  line-height: 75px;
  padding: 50px 0 30px;
  text-align: center;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 120px;
  /* width: 100%; */
}

#project1 {
  background-image: url(./Images/projects/Project1.png);
  right: 5%;
}

#project2 {
  background-image: url(./Images/projects/Project2.png);
  left: 5%;
}

#project3 {
  background-image: url(./Images/projects/Project3.png);
  right: 5%;
}

#project4 {
  background-image: url(./Images/projects/Project4.png);
  left: 5%;
}
#project5 {
  background-image: url(./Images/projects/Project5.png);
  right: 5%;
}
#project6 {
  background-image: url(./Images/projects/Project6.png);
  left: 5%;
}

.projectCard {
  width: 80%;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
  margin: 2rem auto;
  z-index: 2;
}

.projectCard::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  z-index: 1;
  transition: 0.5s all;
  transform-origin: left;
  transform: scaleX(0);
}

.projectCard:hover::before {
  transform: scaleX(1);
}

.projectNumber {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: #fff;
  display: none;
  z-index: 10;
  transition: 0.8s;
}

.rightNumber {
  top: -45px;
  right: -45px;
}

.leftNumber {
  top: -45px;
  left: -45px;
}

.projectCard:hover .projectNumber {
  display: block;
}

.projectCard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
}

.projectContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding: 2em;
  bottom: 20%;
  position: absolute;
  z-index: 5;
  transition: all 0.4s;
}

.leftProjectContent {
  left: 5%;
}

.rightProjectContent {
  right: 5%;
}

.projectSkillsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 1em;
}

.projectSkill {
  width: 40px;
}
.projectHeading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.projectSubHeading {
  font-size: 16px;
  font-style: italic;
  width: 70%;
}

.projectCard:hover .projectContent {
  transform: scale(1.1);
}

.btnGroup {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.btnGroup .btnProject {
  border: none;
  outline: none;
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}

.icon:hover {
  color: #e84949;
}

/* Project Section End  */

/* Skill Section Start  */
.skillContainer {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto;
  gap: 30px;
}

.leftSkillContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.skillHeading {
  color: #e84949;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}

.skillHeading span {
  font-size: 90px;
}

.skillSubHeading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}
.skillSubHeading p {
  margin: 15px 0;
}
.rightSkillContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  justify-content: center;
}

.blobStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: blobAnimation 3s linear infinite;
}

@keyframes blobAnimation {
  50% {
    top: 54%;
    left: 46%;
  }
}

.skillsLogo {
  width: 80px;
  transition: all 0.5s;
}

.skillsLogo:hover {
  transform: scale(1.2);
}

.skillFadedText {
  font-size: 12em;
  right: -9%;
  bottom: -35%;
  user-select: none;
  color: #e7e7e7;
  font-weight: bold;
}

/* Skill Section End  */


/* Services/What I Offer Section Start  */
.servicesSection {
  width: 100%;
  background-color: #e7e7e7;
  padding: 4rem 0 4rem 0;
}

.serviceTitle {
  font-size: 3em;
  color: #e84949;
  text-align: center;
  margin-bottom: 2rem;
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.serviceCard {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 16px #1f1f1f1a;
  padding: 2rem 1.5rem;
  max-width: 300px;
  min-width: 220px;
  flex: 1 1 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.serviceCard:hover {
  transform: translateY(-8px) scale(1.04);
  box-shadow: 0 4px 24px #1f1f1f2a;
}

.serviceIcon {
  font-size: 2.5em;
  color: #e84949;
  margin-bottom: 1rem;
}

.serviceCard h3 {
  font-size: 1.3em;
  color: #343d68;
  margin-bottom: 0.5rem;
  text-align: center;
}

.serviceCard p {
  font-size: 1em;
  color: #444;
  text-align: center;
}
/* Services/What I Offer Section End  */

/* Footer Section Start  */
footer {
  background: #343d68;
  position: relative;
  padding: 3rem 1rem 2rem 1rem;
}

.footerFadedText {
  font-size: 3em;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #535c87;
  user-select: none;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.5rem 0;
  position: relative;
}

.footerLegal {
  font-size: 0.95em;
  color: #bfc3d1;
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin-left: 0.5em;
}
.center-footer {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .center-footer {
    font-size: 0.8em;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
/* Responsive Styles */
@media (max-width: 900px) {
  .heroSection {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding-bottom: 3rem;
  }
  .imgContainer {
    margin-top: 2rem;
  }
  .projectCard {
    width: 95%;
    height: 400px;
  }
  .projectTitle {
    font-size: 2.5em;
    padding: 30px 0 20px;
  }
  .skillContainer {
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 3rem auto;
  }
  .leftSkillContainer, .rightSkillContainer {
    width: 100%;
  }
  .rightSkillContainer {
    justify-content: flex-start;
    gap: 1rem;
  }
  .footerFadedText {
    font-size: 2em;
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    padding: 10px 10px;
    gap: 0.5rem;
  }
  .logoText {
    font-size: 18px;
  }
  .nav-links {
    gap: 0.7rem;
  }
  .nav-links li a {
    font-size: 15px;
  }
  .nav-social-icons {
    gap: 0.5rem;
    font-size: 18px;
  }
  .heroSection {
    width: 100%;
    padding: 0 0.2rem;
    gap: 1.2rem;
  }
  .userImage {
    width: 220px;
    height: 240px;
    padding: 1rem;
  }
  .fadedText {
    font-size: 2.2em;
  }
  .heading {
    font-size: 22px;
    line-height: 22px;
  }
  .subHeading {
    font-size: 26px;
    line-height: 26px;
  }
  .desc {
    font-size: 13px;
    width: 100%;
  }
  .projectCard {
    height: 220px;
    min-height: 180px;
    font-size: 0.9em;
  }
  .projectHeading {
    font-size: 1.2em;
  }
  .projectSubHeading {
    font-size: 0.9em;
    width: 100%;
  }
  .projectSkillsContainer {
    max-width: 100%;
    gap: 0.5em;
  }
  .skillsLogo {
    width: 40px;
  }
  .skillHeading {
    font-size: 1.5em;
  }
  .skillHeading span {
    font-size: 2em;
  }
  .skillFadedText {
    font-size: 2.5em;
    right: 0;
    bottom: -10%;
  }
  .servicesContainer {
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
  }
  .serviceCard {
    max-width: 95vw;
    min-width: 0;
    padding: 1.2rem 0.7rem;
  }
  .serviceTitle {
    font-size: 2em;
  }
  .footerContainer {
    padding: 0.2rem 0;
  }
  .footerLegal {
    font-size: 0.8em;
    margin-top: 1.2em;
  }
}

/* Make project number and navigation smaller on smartphones */
@media (max-width: 600px) {
  .projectNumber {
    font-size: 2rem !important; /* 50% of typical 4rem or similar */
    top: 10px;
    left: 10px;
    right: auto;
  }
  .nav-links li a {
    font-size: 1rem !important;
    padding: 0.5em 0.7em !important;
  }
  .nav-links {
    gap: 0.5em !important;
  }
  .nav-social-icons .nav-icon-img {
    width: 22px !important;
    height: 22px !important;
    margin: 0 4px !important;
  }
  header .logo img {
    width: 32px !important;
    height: 32px !important;
  }
  .logoText {
    font-size: 1.1rem !important;
  }
}
